html:after {display: block;background-color: rgb(31, 199, 51);color: white;padding: 10px;position: fixed;top: 0;right: 0;
  content: 'all, unset, revert';
}

/*----------------------------------------------*/
/* Reset
/*----------------------------------------------*/

body, div, span, object,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i, a,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio {
  all: unset;
  display: revert;
}