html:after {display: block;background-color: red;color: white;padding: 10px;position: fixed;top: 0;right: 0;content: 'no-where';}

body {
  background: red;
}

* {
  margin: 0;  
  padding: 0;  
  border: 0;  
  font: inherit;
  vertical-align: baseline;
  line-height: inherit;
  color: inherit;
  text-decoration: inherit;
  background: transparent;
  cursor: inherit;
}