:root {
  --link-background-color: var(--color-background-primary);
  --link-color: hsl(222, 100%, 50%);
  --link-color-hover-active: hsl(0, 100%, 50%);
  --link-color-focus: hsl(0, 0%, 100%);
  --link-background-color-focus: hsl(0, 0%, 0%);
}

/* General */

a {
  text-decoration: underline;
  text-decoration-skip-ink: auto;
  text-underline-offset: 0.15em;
  text-decoration-thickness: 1px;
  background-color: transparent;
}

@supports selector(a:not(nav a)) {

  a:not(nav a):not(*) {
    text-decoration-skip-ink: auto;
    text-underline-offset: 0.15em;
    text-decoration-thickness: 1px;
  }

  a:not(nav a) {
    color: var(--link-color);
  }

  a:not(nav a):hover,
  a:not(nav a):active {
    color: var(--link-color-hover-active);
  }


  a:not(nav a):focus {
    outline: 0.125rem solid black;
    outline-offset: 0.1rem;
  }

  a:not(nav a):focus:not(:focus-visible) {
    outline: none;
  }

  a:not(nav a) {
    text-shadow: 0.03em 0 var(--link-background-color), -0.03em 0 var(--link-background-color), 0 0.03em var(--link-background-color), 0 -0.03em var(--link-background-color), 0.06em 0 var(--link-background-color), -0.06em 0 var(--link-background-color), 0.09em 0 var(--link-background-color), -0.09em 0 var(--link-background-color), 0.12em 0 var(--link-background-color), -0.12em 0 var(--link-background-color), 0.15em 0 var(--link-background-color), -0.15em 0 var(--link-background-color);
    background-image: linear-gradient(to right, currentColor 0%, currentColor 100%);
    background-repeat: repeat-x;
    background-size: 100% 1px;
    background-position: 0 1.23em;
    text-decoration: none;
  }

  a:not(nav a) {
    color: var(--link-color);
  }

  a:not(nav a):hover,
  a:not(nav a):active {
    color: var(--link-color-hover-active);
  }

  a:not(nav a)::selection {
    color: var(--page-selection-color);
    text-shadow: 0.03em 0 var(--page-selection-background-color), -0.03em 0 var(--page-selection-background-color), 0 0.03em var(--page-selection-background-color), 0 -0.03em var(--page-selection-background-color), 0.06em 0 var(--page-selection-background-color), -0.06em 0 var(--page-selection-background-color), 0.09em 0 var(--page-selection-background-color), -0.09em 0 var(--page-selection-background-color), 0.12em 0 var(--page-selection-background-color), -0.12em 0 var(--page-selection-background-color), 0.15em 0 var(--page-selection-background-color), -0.15em 0 var(--page-selection-background-color);
    background: var(--page-selection-background-color);
  }

  a:not(nav a)::-moz-selection {
    color: var(--page-selection-color);
    text-shadow: 0.03em 0 var(--page-selection-background-color), -0.03em 0 var(--page-selection-background-color), 0 0.03em var(--page-selection-background-color), 0 -0.03em var(--page-selection-background-color), 0.06em 0 var(--page-selection-background-color), -0.06em 0 var(--page-selection-background-color), 0.09em 0 var(--page-selection-background-color), -0.09em 0 var(--page-selection-background-color), 0.12em 0 var(--page-selection-background-color), -0.12em 0 var(--page-selection-background-color), 0.15em 0 var(--page-selection-background-color), -0.15em 0 var(--page-selection-background-color);
    background: var(--page-selection-background-color);
  }

}

/* --------------------------------------------------------- */

@supports not (selector(a:not([class]))) {

  .content a {
    color: var(--link-color);
  }

  .content a:hover,
  .content a:active {
    color: var(--link-color-hover-active);
  }

  .content a:focus {
    outline: 0.125rem solid black;
    outline-offset: 0.1rem;
  }

  .content a:focus:not(:focus-visible) {
    outline: none;
  }

}

.no-supports .content a:not([class]) {
  color: var(--link-color);
}

.no-supports .content a:not([class]):hover,
.no-supports .content a:not([class]):active {
  color: var(--link-color-hover-active);
}

.no-supports .content a:not([class]):focus {
  outline: 0.125rem solid black;
  outline-offset: 0.1rem;
}

.no-supports .content a:not([class]):focus:not(:focus-visible) {
  outline: none;
}