:root {
  --link-background-color: var(--color-background-primary);
  --link-color: hsl(222, 100%, 50%);
  --link-color-hover-active: hsl(0, 82%, 44%);
  --link-color-focus: hsl(0, 0%, 100%);
  --link-background-color-focus: hsl(0, 0%, 0%);
}

/* General */

a {background-color: transparent;}

a:not([class]) {
  text-decoration-skip-ink: auto;
  text-underline-offset: 0.15em; 
  text-decoration-thickness: .05em;
}

/* Legacy */

body {
  background-color: blueviolet;
}

/* Modern */

@supports selector(a:not(nav a)) {

  body {
    background-color: lime;
  }

}

/* Semi-Legacy */

@supports not (selector(a:not(nav a))) {

  body {
    background-color: rgb(255, 72, 0);
  }
  
}

/* IE 10 & 11 */

@media (-ms-high-contrast: none) {

  body {
    background-color: rgb(61, 94, 202);
  }

}