@import url(reset.legacy.css);

/* General
/*----------------------------------------------*/

html {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  font-family: sans-serif;
  cursor: default;
  line-height: 1.15;
  font-size: 1rem;
  overflow-wrap: break-word;
  -moz-tab-size: 4;
  tab-size: 4;
  -webkit-tap-highlight-color: transparent;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  text-size-adjust: 100%;
  -ms-overflow-style: scrollbar;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  -ms-box-sizing: inherit;
  box-sizing: inherit;
  background-repeat: no-repeat;
}

select,
textarea,
button,
input,
span,
a,
cite,
code,
del,
dfn,
em,
ins,
kbd,
q,
s,
samp,
object,
small,
strong,
sub,
sup,
var,
b,
u,
i,
time,
mark,
abbr,
label,
embed,
output,
br,
acronym,
big,
strike,
tt,
center,
hgroup,
menu,
frame,
frameset,
noframes,
map,
audio,
bdo {
  vertical-align: baseline;
}

/*  Typo
/*----------------------------------------------*/

@font-face {
  font-family: system-ui;
  src: local(".AppleSystemUIFont"), local("Segoe UI"), local("Ubuntu"), local("Roboto-Regular"), local("HelveticaNeue");
}

@font-face {
  font-family: system-ui;
  font-style: italic;
  src: local(".AppleSystemUIFont"), local("Segoe UI Italic"), local("Ubuntu-Italic"), local("Roboto-Italic"), local("HelveticaNeue-Italic");
}

@font-face {
  font-family: system-ui;
  font-weight: bold;
  src: local(".AppleSystemUIFont"), local("Segoe UI Bold"), local("Ubuntu-Bold"), local("Roboto-Bold"), local("HelveticaNeue-Bold");
}

@font-face {
  font-family: system-ui;
  font-style: italic;
  font-weight: bold;
  src: local(".AppleSystemUIFont"), local("Segoe UI Bold Italic"), local("Ubuntu-BoldItalic"), local("Roboto-BoldItalic"), local("HelveticaNeue-BoldItalic");
}

@font-face {
  font-family: ui-monospace;
  src: local(".AppleSystemUIFontMonospaced-Regular"), local("Segoe UI Mono"), local("UbuntuMono"), local("Roboto-Mono"), local("Menlo");
}

@font-face {
  font-family: ui-monospace;
  font-style: italic;
  src: local(".AppleSystemUIFontMonospaced-RegularItalic"), local("Segoe UI Mono Italic"), local("UbuntuMono-Italic"), local("Roboto-Mono-Italic"), local("Menlo-Italic");
}

@font-face {
  font-family: ui-monospace;
  font-weight: bold;
  src: local(".AppleSystemUIFontMonospaced-Bold"), local("Segoe UI Mono Bold"), local("UbuntuMono-Bold"), local("Roboto-Mono-Bold"), local("Menlo-Bold");
}

@font-face {
  font-family: ui-monospace;
  font-style: italic;
  font-weight: bold;
  src: local(".AppleSystemUIFontMonospaced-BoldItalic"), local("Segoe UI Mono Bold Italic"), local("UbuntuMono-BoldItalic"), local("Roboto-Mono-BoldItalic"), local("Menlo-BoldItalic");
}

html {
  font-family:
    system-ui,
    /* macOS 10.11-10.12 */
    -apple-system,
    /* Windows 6+ */
    "Segoe UI",
    /* Android 4+ */
    "Roboto",
    /* Ubuntu 10.10+ */
    "Ubuntu",
    /* Gnome 3+ */
    "Cantarell",
    /* KDE Plasma 5+ */
    "Noto Sans",
    /* fallback */
    sans-serif,
    /* macOS emoji */
    "Apple Color Emoji",
    /* Windows emoji */
    "Segoe UI Emoji",
    /* Windows emoji */
    "Segoe UI Symbol",
    /* Linux emoji */
    "Noto Color Emoji";
}

code,
kbd,
samp,
pre {
  font-family:
    ui-monospace,
    /* macOS 10.10+ */
    "Menlo",
    /* Windows 6+ */
    "Consolas",
    /* Android 4+ */
    "Roboto Mono",
    /* Ubuntu 10.10+ */
    "Ubuntu Monospace",
    /* KDE Plasma 5+ */
    "Noto Mono",
    /* KDE Plasma 4+ */
    "Oxygen Mono",
    /* Linux/OpenOffice fallback */
    "Liberation Mono",
    /* fallback */
    monospace,
    /* macOS emoji */
    "Apple Color Emoji",
    /* Windows emoji */
    "Segoe UI Emoji",
    /* Windows emoji */
    "Segoe UI Symbol",
    /* Linux emoji */
    "Noto Color Emoji";
}

/*  Normalize
/*----------------------------------------------*/

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

audio,
img,
picture,
video,
canvas,
svg,
iframe,
embed,
object {
  height: auto;
  max-width: 100%;
  vertical-align: middle;
  border: 0;
  border-style: none;
}

dialog {
  background-color: white;
  border: solid;
  color: black;
  height: -moz-fit-content;
  height: fit-content;
  left: 0;
  margin: auto;
  padding: 1em;
  position: absolute;
  right: 0;
  width: -moz-fit-content;
  width: fit-content;
}

dialog:not([open]) {
  display: none;
}

details>summary:first-of-type {
  display: list-item;
}

dt {
  font-weight: bold;
}

hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}

address {
  font-style: normal;
  line-height: inherit;
}

dfn {
  font-style: italic;
}

b,
strong {
  font-weight: bolder;
}

small {
  font-size: 80%;
}

sub,
sup {
  position: relative;
  font-size: 75%;
  line-height: 0;
  vertical-align: baseline;
}

sub {
  bottom: -.25em;
}

sup {
  top: -.5em;
}

pre,
code,
kbd,
samp {
  font-size: 1em;
}

iframe,
fieldset {
  border: 0;
}

iframe {
  border-style: none;
}

pre {
  overflow: auto;
  -ms-overflow-style: scrollbar;
}

::before,
::after {
  text-decoration: inherit;
  vertical-align: inherit;
}

/*  Table
/*----------------------------------------------*/

table {
  border-collapse: collapse;
  border-color: currentColor;
  text-indent: 0;
}

caption {
  text-align: left;
  caption-side: bottom;
}

th {
  text-align: inherit;
}

/*  Form
/*----------------------------------------------*/

input,
textarea {
  -webkit-user-select: auto;
}

label {
  display: inline-block;
}

button {
  cursor: pointer;
  cursor: revert;
  border-radius: 0;
}

button:focus {
  outline: 1px dotted;
  outline: 5px auto -webkit-focus-ring-color;
}

input,
button,
select,
optgroup,
textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

button,
input,
select,
textarea {
  background-color: transparent;
  border: 1px solid WindowFrame;
  color: inherit;
  font: inherit;
  letter-spacing: inherit;
}

select {
  -webkit-appearance: none;
  appearance: none;
  background: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='4'%3E%3Cpath d='M4 0h6L7 4'/%3E%3C/svg%3E") no-repeat right center / 1em;
  border-radius: 0;
}

select[multiple] {
  background-image: none;
}

button,
input {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

button,
html [type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  padding: 0;
  border-style: none;
}

input[type="radio"],
input[type="checkbox"] {
  box-sizing: border-box;
  padding: 0;
}

input[type="date"],
input[type="time"],
input[type="datetime-local"],
input[type="month"] {
  -webkit-appearance: listbox;
}

textarea {
  overflow: auto;
  resize: vertical;
  white-space: revert;
}

fieldset {
  min-width: 0;
}

legend {
  display: block;
  width: 100%;
  max-width: 100%;
  line-height: inherit;
  color: inherit;
  white-space: normal;
}

progress {
  vertical-align: baseline;
}

meter {
  -webkit-appearance: initial;
  -webkit-appearance: revert;
  appearance: initial;
  appearance: revert;
}

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto;
}

::-webkit-input-placeholder {
  color: inherit;
  opacity: 0.54;
}

[type="search"] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-search-decoration {
  -webkit-appearance: none;
}

[type="color" i],
[type="range" i] {
  border-width: 0;
  padding: 0;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

/*  Links
/*----------------------------------------------*/

a {
  cursor: pointer;
  cursor: revert;
  background-color: transparent;
  text-decoration: underline; 
}

a:not([href]):not([tabindex]) {
  color: inherit;
  text-decoration: none;
}

a:not([href]):not([tabindex]):focus,
a:not([href]):not([tabindex]):hover {
  color: inherit;
  text-decoration: none;
}

a:not([href]):not([tabindex]):focus {
  outline: 0;
}

/*  Misc Fixes
/*----------------------------------------------*/

@media (prefers-reduced-motion: reduce) {

  *,
  ::before,
  ::after {
    animation-delay: -1ms !important;
    animation-duration: 1ms !important;
    animation-iteration-count: 1 !important;
    background-attachment: initial !important;
    scroll-behavior: auto !important;
    transition-delay: 0s !important;
    transition-duration: 0s !important;
  }
}

@-ms-viewport {
  width: device-width;
}

[aria-busy="true"] {
  cursor: progress;
}

[aria-disabled="true"],
[disabled] {
  cursor: not-allowed;
}

[aria-hidden="false"][hidden] {
  display: initial;
}

[aria-hidden="false"][hidden]:not(:focus) {
  clip: rect(0, 0, 0, 0);
  position: absolute;
}

abbr[title],
abbr[data-original-title] {
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
  text-decoration: underline dotted;
  cursor: help;
  border-bottom: 0;
}

[tabindex="-1"]:focus {
  outline: none !important;
}

svg:not(:root) {
  overflow: hidden;
}

svg:not([fill]) {
  fill: currentColor;
}

[hidden] {
  display: none !important;
}

a,
area,
button,
[role="button"],
input:not([type=range]),
label,
select,
summary,
textarea {
  -ms-touch-action: manipulation;
  touch-action: manipulation;
}

output {
  display: inline-block;
}

summary {
  display: list-item;
}

template {
  display: none;
}

/* ::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
} */

::placeholder {
  color: inherit;
  color: unset;
}

[contenteditable]:not([contenteditable="false"]) {
  -moz-user-modify: read-write;
  -webkit-user-modify: read-write;
  overflow-wrap: break-word;
  -webkit-line-break: after-white-space;
  -webkit-user-select: auto;
}

[draggable="true"] {
  -webkit-user-drag: element;
}