/* @import url(modules/reset.nowhere.css);
@import url(modules/reset.where.css); */

/* @supports selector(*) {
  html::after {
    content: 'true';
  }
} */

/* :where(html):before {display: none; content: 'true';} */

/* @import url(modules/debug.css); */
/*----------------------------------------------*/
/* Config
/*----------------------------------------------*/

/* :root {
  --debug: 1px solid red;
  --bg: limegreen;
}

body {
  background: red;
  background: var(--bg);
  background: var(--test, --bg);
}

:root {
  --bg: yellow;
} */

/* * {border: var(--debug) !important;} */

/*----------------------------------------------*/
/* Reset
/*----------------------------------------------*/

/* *:where(:not(html, iframe, canvas, img, svg, video):not(svg *, symbol *)) {
  all: unset;
  display: revert;
} */

/*----------------------------------------------*/
/* General Setup
/*----------------------------------------------*/

/* html {
  line-height: 1.15;
  box-sizing: border-box;
  font-family: sans-serif;
}

*,
*::before,
*::after {
  box-sizing: inherit;
} */

/* html::before {
  display: none;
  padding: 20px;
  position: fixed;
  top: 0;
  left: 0;
  background-color: black;
  color: white;
}
 */









































