/*----------------------------------------------*/
/* Config
/*----------------------------------------------*/

:root {
  --debug: 1px solid red;
}

/*----------------------------------------------*/
/* Reset
/*----------------------------------------------*/

/* body {
  background: rgb(177, 13, 166);
} */

:where(body) {
  background-color: rgb(212, 231, 6);
}

:where(.test) {
  width: auto;
  background: red;
}

:where(body):after {
  content: 'applied';
}


div.error {
  display: none;
}

.no-where div.error {
  position: fixed;
  display: block;
  top: 0;
  right: 0;
  padding: 10px;
  background: red;
  color: white;
}