/*----------------------------------------------*/
/* Config
/*----------------------------------------------*/

:root {
  --debug: 1px solid red;
}

/*----------------------------------------------*/
/* Reset
/*----------------------------------------------*/

/* body {
  background: rgb(177, 13, 166);
} */

:where(body) {
  background-color: rgb(212, 231, 6);
}

:where(.test) {
  width: auto;
  background: red;
}

:where(body)::after {
  content: ' rocks!';
}