@import 'modules/vendor/sanitize.css';
@import 'modules/typo.css';
@import 'modules/hyperlinks.css';

/* @supports not () {html::before { display: none !important; content: 'supports-not'; }} */

/* Config
/* ========================================================================== */
 
:root {
  /* Typo */
  --font-family-primary: 'Open Sans';

  /* Colors */
  --color-background-primary: white;
  --page-selection-color: white;
  --page-selection-background-color: black;
}

/* General
/* ========================================================================== */

@-ms-viewport {width: device-width;}

*,
*::before,
*::after {
  box-sizing: inherit;
  background-repeat: no-repeat;
  font: inherit;
  padding: 0;
  margin: 0;
}

html {
  box-sizing: border-box;
  font-family: sans-serif;
}

html:focus-within {
  scroll-behavior: smooth;
}

html,
body {
  height: 100%;
}

body {
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  line-height: 1.5;
}

iframe,
canvas,
img,
svg,
picture,
input,
video,
select,
textarea {
  height: auto;
  max-width: 100%;
}

ul[role='list'],
ol[role='list'] {
  list-style: none;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

@media (prefers-reduced-motion: reduce) {

  html:focus-within {
   scroll-behavior: auto;
  }
  
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

::selection {
  color: var(--page-selection-color);
  background: var(--page-selection-background-color);
}
::-moz-selection {
  color: var(--page-selection-color);
  background: var(--page-selection-background-color);
}