@import url('modules/helpers.css');

/* General
/*---------------------------------------------------*/

html, body {height: 100%;}

/* Hyperlinks
/*---------------------------------------------------*/



/*----------------------------------*/

[href^="http"]::before {
  position: absolute;
  overflow: hidden;
  white-space: nowrap; 
  height: 1px;
  width: 1px;
  clip: rect(0 0 0 0); 
  clip-path: inset(50%);
  content: '(external link)';
}
[href^="http"]::after {
  font-family: 'FontAwesome';
  font-size: 80%;
  vertical-align: baseline;
  content: '\00a0\00a0\f08e';
}

/* Accessibility
/*---------------------------------------------------*/

.skiplink {
  position: absolute;
  top: 0;
  right: 100%;
  z-index: 100;
  background: black;
  color: white;
  padding: .5em 1em;
}
.skiplink:focus {right: auto;}