/* Feature Detection for :where() */
:where(html):before {display: none; content: 'true';}
html:after {
  display: none;
  background-color: red;
  color: white;
  padding: 10px;
  position: fixed;
  top: 0;
  right: 0;
}
html.no-where:after,
html.no-unset:after,
html.no-all:after {
  display: block;
}
html.no-where:after {
  content: 'no-where';
}
html.no-all:after {
  content: 'no-all';
}
html.no-unset:after {
  content: 'no-unset';
}
html.no-where.no-all:after {
  content: 'no-where, no-all';
}
html.no-where.no-unset:after {
  content: 'no-where, no-unset';
}
html.no-where.no-all.no-unset:after {
  content: 'no-where, no-all, no-unset';
}


.no-where * {
  margin: 0;  
  padding: 0;  
  border: 0;  
  font: inherit;
  vertical-align: baseline;
  line-height: inherit;
  color: inherit;
  text-decoration: inherit;
  background: transparent;
  cursor: inherit;
}