.oldie *:not(iframe):not(canvas):not(img):not(svg):not(video) {
  margin: 0;  
  padding: 0;  
  border: 0;  
  font-size: 100%;  
  font: inherit;  
  vertical-align: baseline;
}
@media (-ms-high-contrast: none) {
  *:not(html):not(iframe):not(canvas):not(img):not(svg):not(video) {
    margin: 0;  
    padding: 0;  
    border: 0;  
    font-size: 100%;  
    font: inherit;  
    vertical-align: baseline;
  }
}